.reviewPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 816px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  border: 0px !important;
  outline: none !important;
}
.popupFormError {
  color: #d32f2f;
  font-size: 16px;
  font-weight: 500;
}
.ratingErrorWrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.cancelIcn {
  cursor: pointer;
  display: block;
  transition: 0.3s;
  position: relative;
}

.cancelIcn:hover {
  transform: rotate(360deg);
  opacity: 50%;
}

.popupHead {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  align-items: center;
  margin-bottom: 20px;
}

.formBlock {
  display: block;
  position: relative;
}

.popUpBody {
  display: block;
}

.titleTxt {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inputBlock {
  border-radius: 0px;
  border: 0px solid #dfe1e6;
}

.inputBlock.up {
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #dfe1e6;
  height: 80px;
}

.inputBlock.up textarea {
  height: 100% !important;
}

.inputBlock textarea {
  width: 100% !important;
  height: 50px !important;
  outline: none;
  border: none;
  resize: none;
  padding: 12px;
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputBlock {
  display: block;
}

.inputBlock textarea::-webkit-scrollbar {
  width: 2px;
}

.inputBlock textarea::-webkit-scrollbar-thumb {
  background-color: #8888881e;
}

.inputBlock textarea::-webkit-scrollbar-thumb:hover {
  background-color: #5555551a;
}

.inputBlock textarea::-webkit-scrollbar-track {
  background: #f4f4f4;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
}

.inputBlockFooter {
  padding: 10px 20px;
  border-top: 1px solid #dfe1e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formCols {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  overflow: hidden;
}

.formLabels {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
  display: block;
}

.subText {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mB0 {
  margin-bottom: 0px !important;
}

.formBody {
  margin-bottom: 18px;
}

.postButton {
  display: block;
  margin: auto;
  border-radius: 30px;
  background: #0b6049;
  width: 100%;
  max-width: 200px;
  padding: 11px 30px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: 0.3s;
}

.postButton:hover {
  background: #0b6049;
  transform: scale(0.96);
}

.mobileScroll {
  display: block;
  width: 100%;
}

/* MEDIA_QUARIES_BELOW */
@media (max-width: 1200px) {
  .reviewPopup {
    padding: 20px;
    height: 98vh;
    overflow-y: auto;
    border-radius: 16px;
  }

  .reviewPopup::-webkit-scrollbar {
    width: 12px;
  }

  .reviewPopup::-webkit-scrollbar-thumb {
    background-color: #88888883;
    border-radius: 6px;
  }

  .reviewPopup::-webkit-scrollbar-thumb:hover {
    background-color: #5555552c;
  }

  .reviewPopup::-webkit-scrollbar-track {
    background: #f4f4f4;
    scrollbar-width: thin;
    scrollbar-color: #888 #f4f4f4;
  }

  .mobileScroll {
    height: 76vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .popupHead {
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    z-index: 100;
  }

  .postButton {
    position: sticky;
    bottom: 0px;
    max-width: 100%;
    z-index: 100;
  }

  .mobileScroll::-webkit-scrollbar {
    width: 6px;
  }

  .mobileScroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .formCols {
    margin-bottom: 12px !important;
  }

  .formBody {
    margin-bottom: 15px;
  }
}
