.title {
    display: flex;
    margin: auto;
    justify-content: center;
    color: #202124;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 43px;
}

.contactCards {
    display: flex;
    width: 100%;
    min-height: 222px;
    padding: 22px 32px 22px 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 1px solid rgba(32, 33, 36, 0.1);
    text-align: center;
}

.lastCard {
    display: flex;
    width: 100%;
    min-height: 222px;
    padding: 22px 32px 22px 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 0px;
    text-align: center;

}

.contactSubTitles {
    color: #202124;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-wrap: balance;
}

.contactSubDesc {
    color: rgba(32, 33, 36, 0.70);
    text-align: center;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.customMaincard {
    padding: 20px;
}

@media (max-width: 992px) {
    .contactMainCard {
        flex-wrap: wrap;
    }

    .overallCards {
        flex-wrap: wrap;
    }

    .contactCards {
        border-bottom: 1px solid rgba(32, 33, 36, 0.30);
        border-right: 0px;
        min-height: auto;
    }

    .title {
        margin-bottom: 17px;
    }

    .contactSubDesc {
        font-size: 15px;
        line-height: 22px;
    }
}