.FreeToolCard {
    padding: 24px;
    border-radius: 20px;
    background: rgba(245, 245, 245, 0.5);
    overflow: hidden;
}

.FreeToolCard.ListCard {
    padding: 0px !important;
    border-radius: 20px;
    margin: auto;
}

.FreeToolCard.ListCard  ul {
    padding: 0px !important;
}

.FreeToolCard.ListCard ul li {
    padding: 19px 24px !important;
    border-bottom: 1px solid rgba(60, 60, 67, 0.15);
}

.FreeToolCard.ListCard ul li:last-child {
    border-bottom: 0px !important;
}


.FreeToolCard.ListCard ul li:hover {
    background-color: none !important;
}



@media(max-width:992px) {
    .FreeToolCard {
        padding: 16px 20px !important;
    }

    .FreeToolCard.ListCard ul li {
        padding: 16px 20px !important;
        border-bottom: 1px solid rgba(60, 60, 67, 0.15);
    }

}

@media(max-width:320px) {
    .FreeToolCard {
        padding: 14px 16px !important;
        border-radius: 18px;
    }

    .FreeToolCard.ListCard {
        border-radius: 18px;
    }

}