.title {
  color: #202124;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.compareBox {
  width: 100%;
  min-height: 189px;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 20px;
}
.collegeName {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.locationName {
  color: #3C3C43;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 4px;
}
.chipGrid {
  margin-top: 10px !important;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.chipGrid::-webkit-scrollbar {
  display: none;
}

.chipGrid {
  scrollbar-width: none;
}
.chipSubGrid{
  padding-top: 0px !important;
}
.chip {
  padding: 6px 16px;
  color: #000;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 12px;
}
.removeButton {
  padding: 4px 90px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: rgba(213, 57, 57, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.removeButton:hover {
  background: rgba(213, 57, 57, 0.05);
}
.buttonText {
  color: #d53939;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showMoreButton {
  padding: 4px 90px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: rgba(20, 82, 164, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}
.bottonGrid a{
  text-decoration: none !important;
}
.showMoreButton:hover {
  background: rgba(20, 82, 164, 0.05);
}
.showMorebuttonText {
  color: #1452a4;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: nowrap;
}
.bottonGridContainer {
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(60, 60, 67, 0.15);
  margin-top: 20px;
  height: 50px;
}
.bottonGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br{
  border-right: 1px solid rgba(60, 60, 67, 0.15);
}

.clgImg {
  width: 50px;
  height: 50px;
  display: block;
  flex-shrink: 0;
}

.clgImg img{
  width: 100% !important;
  height: 100% !important;
  object-position: center;
  object-fit: contain;
}

@media (max-width: 992px) {

  .removeButton {
    padding: 4px 20px;
    gap: 5px;
  }

  .showMoreButton {
    padding: 4px 20px;
    gap: 5px;
  }
  .collegeName {
    font-size: 14px;
  }
  .locationName {
    font-size: 12px;
  }
  .showMorebuttonText {
    font-size: 14px !important;
  }
  .buttonText {
    font-size: 14px;
  }
  .buttonBorder {
    border-right: 0.5px solid rgba(60, 60, 67, 0.15);
  }
  .showMoreButton,
  .removeButton {
    background: none;
  }
  .chip {
    padding: 4px 4px !important;
  }
  .title{
    font-size: 18px !important;
  }
}
