.collegeName,
.removeText,
.comparedText {
    font-family: inherit;
    ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comparedText {
    color: #1452A4;
    font-size: 16px;

}
.collegeType {
    font-size: 12px;
    /* margin-bottom: auto; */
    color:  rgba(32, 33, 36, 0.7);;
}
.typeWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.removeText {
    color: #D53939;
    font-size: 16px;

}

.collegeName {
    color: #202124;
    font-size: 16px;
}

.comparedCard {
    width: 100%;
    border-radius: 4px;
    background: #FFF;
    margin-bottom: 20px;
}

.comparedCard:last-child {
    margin-bottom: 20px;
}

.collegeMainCardCols {
    padding: 0px 10px;
    width: 100%;
    max-width: 100%;
}

.collegeMainCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 0.2px solid rgb(197 197 197 / 17%);
}

.collegeMainCard .collegeMainCardCols:nth-child(2) {
    border-right: 1px solid rgba(213, 57, 57, 0.05);
    border-left: 1px solid rgba(213, 57, 57, 0.05);

}

.collegeSubCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.collegeMainCard> :first-child {
    border-left: 0px;
}

.removeButton {
    display: flex;
    gap: 10px;
    border-radius: 29px;
    background: rgba(213, 57, 57, 0.05);
    width: 100%;
    max-width: 270px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.iconsCard {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

.comparedButton {
    display: flex;
    gap: 10px;
    border-radius: 29px;
    background: rgba(20, 82, 164, 0.05);
    width: 100%;
    max-width: 270px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    text-decoration: none;
}

.clgImg {
    width: 50px;
    height: 50px;
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
}

.clgImg img {
    width: 100% !important;
    height: 100% !important;
    object-position: center;
    object-fit: contain;
}

@media (max-width: 992px) {
    .collegeMainCard {
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .collegeSubCard {
        max-width: 100%;

    }
    .typeWrapper{
        justify-content:center;
        padding: 10px;
        border-top: 0.2px solid rgb(197 197 197 / 17%);
    }
    .collegeMainCard::-webkit-scrollbar {
        display: none;
    }

    .collegeMainCard> :nth-child(even) {
        border-right: 0px;
    }

    .comparedButton {
        background: none;
    }

    .removeButton {
        background: none;
    }

    .collegeName,
    .removeText,
    .comparedText {
        font-size: 14px;
    }

    .collegeMainCard> :last-child {
        display: none;
        border-right: 0px;
    }

    .collegeMainCard .collegeMainCardCols:nth-child(2) {
        border-right: transparent;

    }

}