.compareHistoryBtn {
  position: fixed;
  bottom: 5%;
  left: 5%;
  border-radius: 34px;
  background: #0b6049;
  display: inline-flex;
  padding: 14px 18px;
  z-index: 100;
}
.compareHistoryBtn:hover {
  background: #0b6049;
}
.compareHistoryBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.compareHistoryBadge {
  color: #000;
}
.compareHistoryTxt {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.collegeBox {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(245, 245, 245, 0.7);
}
.compareStack {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* padding: 40px 50px; */
  margin-bottom: 24px;
}
.compareSearchStack {
  width: 100%;
  padding: 0px;
}
.compareCollegeImg {
  padding: 20px;
}
.compareCloseBox {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1) translate(30%, -30%);
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #cbf7da;
}
.compareCloseBox:hover {
  background: #cbf7da;
}
.compareSubmitBtn {
  display: flex;
  width: 100%;
  padding: 15px 0px 14px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #0b6049;
}
.compareSubmitBtn:hover {
  background: #0b6049;
}
.compareSubmitTxt {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;
  text-transform: capitalize;
}
.compareBtnStack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
@media only screen and (max-width: 992px) {
  /* .compareStack{
    padding: 30px 40px;
  } */
  /* .compareSearchStack{
    padding: 0px 40px;
  } */

  .compareHistoryBtn {
    bottom: 93px;
  }
}

@media only screen and (max-width: 720px) {
  /* .compareStack{
    padding: 30px 20px;
  } */
  /* .compareSearchStack{
    padding: 0px 30px;
  } */
}
