.subTitle {
    color: #3C3C43;
    font-family: inherit;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 40px;
}

.container{
    margin-bottom: 40px;
}

.infoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:19px 25px;

}

.infoListData,
.info2Data {
font-family: inherit;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.infoListData {
    color: #1452A4;
}

.info2Data {
    color: #3C3C43;
}

.infoListStaticData {
    color: rgba(60, 60, 67, 0.80);
font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-left: 10px;
}

.info2 {
    display: flex;
    max-height:  380px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}



@media (max-width: 900px) {
    .container{
        margin-bottom: 30px;
    }

    .mainTitle {
        font-size: 20px;
    }

    .subTitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .infoList {
        padding: 16px 20px;
    }

    .infoListData,
    .info2Data {
        font-size: 20px;
    }

    .info2Data {
        font-weight: 400;
        padding-bottom: 25px;
    }

    .infoListStaticData {
        font-size: 14px;
    }

    .info2 {
        max-height: 400px;
    }
}