.formContainer {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 44px;
  max-width: 472px;
  width: 100%;
}
.formHeading {
  color: #1b1b1b;
  font-family: inherit;
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.0025em;
}
.headingWrapper {
  margin-bottom: 40px;
}
.inputHeading {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 8px;
}
.custom-input {
  font-size: 14px;
  font-weight: 500;
  padding: 14px !important;
  background: #fff;
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px !important;
}
.custom-fieldset {
  border: none;
}
.inputWrapper {
  margin-bottom: 20px;
}
.radioButtonWrapper {
  display: flex;
}
.submitBtn {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  background: #0e3f8d;
  width: 100%;
  padding: 15px 0px;
  margin-top: 20px;
}
.submitBtn:hover {
  background: #0e3f8d;
}
.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerHeading {
  color: #ffffff;
  font-family: inherit;
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
}
.bannerList {
  color: #ffffffcc;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
  margin-bottom: 16px;
}
.headingWrapper {
  margin-bottom: 20px;
}
.BannerWrapper {
  margin-bottom: 16px;
}
.mainBannerContainer {
  margin-top: 40px;
  margin-bottom: 110px;
}
.predictorFormError{
  color: #d32f2f;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1199px) {
  .predictorFormError{
    font-size: 14px;
  }
  .bannerHeading {
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
  }
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formContainer {
    padding: 36px 24px;
    margin-top: -73px;
  }
  .headingWrapper {
    margin-bottom: 16px;
  }
  .mainBannerContainer {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
