
.courseName {
  color: #1452a4;
  font-family: inherit;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.courseNameWrapper {
  margin-bottom: 40px;
}
.tableHeading {
  color: #3c3c43 !important;
  line-height: 28px !important;
  font-weight: 400 !important;
}
.quotaNames {
  color: #1452a4 !important;
  line-height: 28px !important;
}
.resultValue {
  color: #202124 !important;
  line-height:28px !important;
}
.resultWrapper {
  border-radius: 20px !important;
  /* border-bottom: 0.5px solid rgba(60, 60, 67, 0.15); */
  background: rgba(245, 245, 245, 0.7);
}
.tableHeadWrapper {
  border-bottom: 1px solid red !important;
}

/* All MediaQueries */

@media (max-width: 992px) {
  .courseName {
    font-size: 16px;
    line-height: 22.4px;
  }
  .courseNameWrapper {
    margin-bottom: 30px;
  }
  .itemWrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 0.5px solid rgba(60, 60, 67, 0.15);
  }
  .itemWrapperLast {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }
  .tableHeading {
    font-size: 12px !important;
    line-height: 19.6px !important;
  }
  .resultValue {
    font-size: 16px !important;
  }
}
