.overviewTitle {
  color: #202124;
  font-family: inherit;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 24px;
}

.mainFaq {
  border-radius: 4px;
  border: 1px solid #dfe1e6;
  margin-bottom: 20px;
  box-shadow: none;
}

.mainFaq .questionFaq:last-child {
  margin-bottom: 0px;
}


.questionFaq {
  color: rgba(32, 33, 36, 0.7);
  font-size: 14px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 14px;
  letter-spacing: 0.25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.questionFaq.selected {
  background-color: rgba(223, 225, 230, 0.2);
}


.answerFaq {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0.20px;
}

.questionTitle {
  color: inherit;
}

.questionTitle.selected {
  color: black;
}

.arrow {
  color: inherit;
}

.arrow.selected {
  color: black;
}

.innerOverview {
  display: block;
}

.innerOverview .overviewMain {
  margin-bottom: 30px;
}

.accBLock {
  padding: 14px 20px;
}

/* all media is below */
@media (max-width: 992px) {
  .accBLock {
    padding: 10px;
  }

  .overviewMain {
    margin-bottom: 26px;
  }

  .answerFaq {
    font-size: 12px !important;
  }

  .questionFaq {
    padding-left: 8px;
    padding-right: 2px;
    font-size: 12px;
    line-height: 18px;
  }

  .mainFaq {
    margin-bottom: 14px;
  }

  .overviewTitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 19px;
  }
}