.placementsKey {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.placementsValue {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.placementsInner {
  display: flex;
  flex-wrap: wrap;
}

.placementsDetail {
  max-width: 29%;
  flex-basis: 29%;
  display: block;
}

.readMoreLink {
  color: #1452A4;
  text-align: justify;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.linkBox:hover .readMoreLink {
  color: #000;
}

.linkBox:hover .readMoreLink svg path {
  color: #000;
}

.detailsLinkBox {
  margin: auto;
}

.detailsLinkBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*All MediaQueries*/

@media (max-width: 900px) {
  .placementsValue {
    color: #11519c;
  }

  .placementsDetail {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #dfe1e6;
    background: #fff;
    margin: 10px 0;
  }

  .readMoreLink {
    color: #fff;
    font-weight: 500;
  }

  .detailsLinkBox {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background: #0B6049;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #dfe1e6;
    margin: 18px 0;
  }
}