.mainWarp {
    transition: 0.4s;
}

.mainWarp:hover {
    transform: translateY(-10px);
    box-shadow: 0px 35px 30px #ccccccab;
}

.descBlock {
    display: block;
}

.descBlock.active {
    height: auto;
}

.descBlockHead {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: 0.4s;
}

.IcnBx {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.IcnBx img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    display: block;
}

.descBlockHead .title {
    color: #202124;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
}

.descBlock.para {
    color: rgba(32, 33, 36, 0.70) !important;
    font-size: 16px !important;
    font-weight: 400;
    position: relative;
}

.mobileReadBx {
    display: none;
}

@media(max-width:992px) {
    .descBlock {
        height: 100px;
    }

    .mainWarp {
        overflow: hidden;
        position: relative;
        padding-bottom: 35px !important;
    }

    .mobileReadBx {
        position: absolute;
        width: 100%;
        background-color: #fff;
        bottom: 0px;
        left: 0px;
        padding: 5px 0px;
    }

    .mobileReadBx button {
        position: relative !important;
        transform: translateX(0);
        right: 0;
        top: 0;
        margin: auto;
        display: block;
    }

    .mobileReadBx {
        display: block;
    }

    .mainWarp:hover {
        transform: translateY(-3px);
    }

    .descBlock .para {
        font-size: 16px !important;
    }

}