.readMoreorLessButton {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #202124;
  text-align: justify;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.readMoreorLessButton:hover,
.readMoreorLessButton:active {
  background: #fbfbfb;
  color: #119d78;
}

@media (max-width: 900px) {
  .readMoreorLessButton {
    right: 50%;
    transform: translateX(50%);
  }
}

.readMoreorLessText {
  display: inline-block;
  margin-left: 5px;
}

.readMoreorLessArrow {
  vertical-align: middle;
}

.readMoreorLessArrow.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}