.Section {
  width: 100%;
  margin: auto;
}

.Wrapper {
  max-width: 375px;
  width: 100%;
  margin-left: auto;
}

.Wrapper.lg {
  max-width: 100%;
}

.ScrollContent {
  max-height: 283px;
  overflow-y: auto;
}

.ScrollContent::-webkit-scrollbar {
  width: 0.3em;
}

.ScrollContent::-webkit-scrollbar-track {
  display: flex;
  width: 2px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(223, 225, 230, 0.5);
}

.ScrollContent::-webkit-scrollbar-thumb {
  background-color: #0B6049;
}

.FilterTitle {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.FilterIcnBx {
  border-radius: 40px;
  border: 0.5px solid #11519c;
  background: #fff;
  box-shadow: 4px 0px 16px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
  bottom: 75px;
  right: 16px;
  z-index: 500;
}

.FilterIcnBx:hover {
  transform: scale(0.95);
  box-shadow: 4px 0px 16px 4px rgba(0, 0, 0, 0.18);
}

.MobFilterContent {
  width: 100%;
  min-height: 60vh;
  border: 20px 20px 0px 0px;
  overflow: auto;
}

.CustomAccordionSum {
  background: rgba(223, 225, 230, 0.2);
  border: 1px solid #dfe1e6;
}

.CustomAccordionDetail {
  border: 1px solid #dfe1e6;
  background: #fff;
  box-shadow: 16px 0px 64px 0px rgba(0, 0, 0, 0.04);
}

.CustomAccordions {
  margin-bottom: 15px;
}


@media(max-width:992px) {
  .Wrapper {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 0;
    margin-left: 0;
  }
}