.clgInfoCard {
  background-color: #fff;
  padding: 12px 0px;
}

.CompareInfoHead {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.15);
  position: sticky;
  top: 70px;
  z-index: 50;
  background-color: #fff;
  margin-bottom: 40px;
}

.CompareInfoHead h3 {
  color: #202124;
  font-family: inherit;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.GraphBtn {
  display: flex;
  align-items: center !important;
  max-width: 109px;
  width: 100%;
  padding: 8px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #1a73e8;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 32px;
  background: rgba(26, 115, 232, 0.05);
}

.CompareInfoHead .GraphBtn.active {
  background: rgb(26 115 232 / 9%);
  transform: scale(0.90);
  box-shadow: 0px 1px 5px #81818147;
}

.GraphBtn svg {
  margin-right: 5px;
  vertical-align: middle;
}


.InfoCard {
  padding: 30px 50px;
  background: #fff;
  transition: 0.3s faded ease-out;
  animation: 0.3s faded ease-out;
}

.cardRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0px -10px 20px;
}

.cardColumn {
  flex: 1;
  max-width: 100%;
  padding: 0px 10px;
}

.cardColumnBlock {
  display: block;
  margin-bottom: 30px;
}

.cardColumnBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardColumnH5 {
  color: #202124;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4px;
}

.cardColumnPara {
  color: rgba(60, 60, 67, 0.60);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graphBox {
  height: auto;
  overflow: hidden;
  background-color: rgba(245, 245, 245, 0.4);
  transition: 0.3s faded ease-out;
  animation: 0.3s faded ease-out;
}

.icn {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  overflow: hidden;
  border-radius: 100px;
}

.icn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.tickIcn {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0px auto 10px;
}

@keyframes faded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}

/* media quaries is  below here  */

@media(max-width:992px) {

  .CompareInfoHead .GraphBtn.active {
    background: rgba(26, 115, 232, 1) !important;
  }

  .GraphBtn svg {
    margin-right: 0px;
  }

  .CompareInfoHead .GraphBtn.active svg path {
    fill: #fff !important;
  }


  .mobHide {
    display: none;
  }

  .GraphBtn {
    max-width: auto !important;
    max-width: 80px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 100px;
  }

  .CompareInfoHead h3 {
    color: #202124;
    font-size: 20px;
    line-height: 24px;
  }

  .InfoCard {
    padding: 20px;
  }

  .CompareInfoHead {
    margin-bottom: 20px;
  }


  .cardColumnH5 {
    font-size: 16px;
    ;
  }

  .cardColumnPara {
    font-size: 14px;
  }

}