.cardHeader {
  color: #202124;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
}
.titleContainer {
  margin-bottom: 30px;
}
.title {
  color: #202124;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dataStatusUp {
  color: #0B6049;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.dataStatusDown {
  color: #D70015;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.dataStatusNormal {
  color: #1452A4;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.heading {
  color: #202124;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.graphContainer {
  padding: 30px 20px;
  background: #fbfbfb;
  border-radius: 8px;
}
.subTitle {
  color: "#202124b3";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 65%;
}
@media (max-width: 800px) {
  .title {
    font-size: 24px;
    font-weight: 500;
  }
  .heading {
    font-size: 16px;
    font-weight: 400;
  }
  .graphContainer {
    padding: 30px 15px;
    margin-top: 26px;
  }
  .titleContainer {
    margin-bottom: 0px;
  }
  .subTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
