.tableRowText {
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  white-space: nowrap;
  text-align: center;
}
.paymentHistoryTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #202124;
}
.successChip {
  background-color: rgba(203, 247, 218, 0.3);
  color: #0b6049 !important;
}
.pendingChip {
  background-color: rgba(255, 242, 204, 0.3);
  color: #ff9600 !important;
}
.failedChip {
  background-color: rgba(255, 229, 212, 0.3);
  color: #ff382b !important;
}
.tableContainer{
    border-radius: 16px;
    width: 100%
}
.tableCellStyle{
    font-size:  14px !important;
    font-weight: 700;
    padding: 19px 5px;
    background-color: rgba(203, 247, 218, 0.3);
}
/* responsive */

@media only screen and (max-width: 992px) {
  .tableRowText {
    font-size: 13px;
  }
}
