.mainContent {
  padding-bottom: 35px;
  position: relative;
  box-sizing: border-box;
}

.expandBox {
  overflow: hidden;
  position: relative;
}

.expandBox.active {
  height: auto !important;
}

.expandBox::before {
  background: linear-gradient(to top,
      rgba(251, 251, 251, 1),
      rgba(251, 251, 251, 0));
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}