.relatedLink {
  color: #1452A4;
  text-align: justify;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  vertical-align: middle;
}

.relatedLink:hover>a svg {
  transform: translateX(10px);
}

.relatedMain {
  display: flex;
}

.linkWrapper {
  padding: 9px 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(26, 115, 232, 0.1);
  white-space: nowrap;
  margin: 0 12px 12px 0;
  transition: 0.3s;
}

.linkWrapper:hover {
  background: rgb(26 115 232 / 1%);
}

.linkWrapper:hover a {
  color: #091e44;
}

.forwardArrow {
  vertical-align: middle;
  font-size: 14px;
  margin-left: 16px;
}

.relatedContainer {
  flex-wrap: wrap;
}

.tagContent {
  max-width: 817px;
  border-radius: 8px;
  background: #fbfbfb;
  padding: 20px 0 8px 20px;
  margin-bottom: 90px;
}

@media (max-width: 900px) {
  .tagContent {
    padding-left: 10px;
    margin-bottom: 26px;
  }
}

.tagTitle {
  color: #202124;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .tagTitle {
    margin-bottom: 16px;
  }
}