.SubHeaderBox {
    background: #fff;
    max-width: 1264px;
    margin: auto;
    z-index: 900;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0;
    transform: translateX(0%);
}

.SubHeaderBox.active {
    position: fixed !important;
    width: 100%;
    top: 0px;
    left: 50%;
    z-index: 1500;
    transform: translateX(-50%);
    margin-bottom: 0px;
}

/* SubHeaderWrap */
.SubHeaderWrap {
    max-width: 100%;
    display: flex;
    position: relative;
    /* justify-content: center; */
    padding: 0px 15px 12px;
}

.SubHeaderWrap .CustomTabs {
    padding: 10px 0px  !important;
}

/* CustomTabs */
.CustomTabs {
    border-top: 1px solid #F5F5F7 !important;
    border-bottom: 1px solid #F5F5F7 !important;
    justify-content: center;
    width: 100%;
    padding: 5px 0px;
}


.CustomTabs .css-angn3u-MuiTabs-flexContainer {
    justify-content: flex-start !important;
    border: 0px !important;
}

@media (min-width: 960px) {
    .CustomTabs {
        padding: 10px 0px;
    }

    .SubHeaderWrap {
        padding: 0px 0px 10px 10px;
    }
}

/* SubMenuTab */
.SubMenuTab {
    flex-shrink: 0;
    color: rgba(32, 33, 36, 0.70);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 12px;
    white-space: nowrap;
    transition: 0.3s;
    margin-right: 20px;
}

.SubMenuTab.Mui-selected {
    color: #000;
}

.SubMenuTab.subnavactive {
    color: #000 !important;
    position: relative;
}

.SubMenuTab.subnavactive:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #020a14;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.SubMenuTab:hover {
    color: #000;
}

.SubMenuTab.subnavactive:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #020a14;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.SubMenuTab:hover {
    color: #000;
}

@media (max-width: 960px) {
    .SubMenuTab {
        color: #11519C;
        margin-right: 11px;
        font-size: 14px;
        border-radius: 27px;
        overflow: hidden;
        background: rgba(17, 81, 156, 0.05) !important;
        text-decoration: none;
    }

    .SubMenuTab.subnavactive:before {
        display: none;
    }
}

/* MobileSubHeader */
/* .MobileSubHeader {
    max-width: 100%;
    padding: 25px 10px;
    position: sticky;
    top: 80px;
    z-index: 1000;
    background: #fff;
    overflow-x: auto;
    border-top: 1px solid #F5F5F7 !important;
    border-bottom: 1px solid #F5F5F7 !important;
    scrollbar-width: none;
}

.MobileSubHeader::-webkit-scrollbar {
    display: none;
} */