.intakeMainCard {
    border-radius: 8px;
    background: #FBFBFB;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intakeCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intaketitle {
    color: #202124;
    font-family: inherit;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.intakeBottom {
    margin-bottom: 25px;
}

.intakeContent {
    color: #202124;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.intakeSubContent {
    color: rgba(32, 33, 36, 0.70);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 900px) {
    .intakeFirstCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .intakeMainCard {
        padding: 16px 20px;
        min-height: auto;
    }

    .intaketitle {
        font-size: 24px;
    }
}