.accordionWarp {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px !important;
  overflow: hidden;
}
.dashboardAccordianWarp {
  margin-bottom: 20px;
  border-radius: 4px !important;
  overflow: hidden;
}
.reviewsSection {
  max-width: 843px;
  margin: auto;
}
.accordionInnerHead {
  width: 100%;
  display: flex;
  align-items: center;
}

.reviewUserName {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.reviewComments {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviewCommentsTitle {
  color: #202124;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.userImgBx {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 100px;
  background: #ccc;
  margin-right: 10px;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.inerBx {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.dashboardinerBx {
  display: block;
  padding-bottom: 10px;
}
.noneSelection {
  user-select: none !important;
  cursor: none !important;
  pointer-events: none !important;
}

.veifiedProfile {
  display: flex;
  align-items: center;
  font-family: inherit;
  color: #0b6049;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  line-height: 20px;
}
/*question and answer -dashboard*/
.postByBox {
  color: #202124b3;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.postReplayText {
  color: #202124;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashboardHeading {
  font-size: 24px !important;
  font-weight: 600 !important;
}
.postDate {
  color: #202124;
  opacity: 70%;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 992px) {
  .reviewComments {
    font-size: 13px;
  }
  .dashboardHeading {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
}
