.dashSidebar {
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 302px;
    padding-top: 90px;
}

.dashContentBox {
    width: 100%;
    display: block;
}

.dashTitle {
    color: #202124;
    font-family: inherit !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    padding: 12px 16px;
    transition: 0.3s fade ease-in-out;
    animation: 0.3s faded ease-in-out;
}

.dashBody {
    display: block;
}

.dashbordAppbar {
    justify-content: center;
    background: #fff;
    box-shadow: none !important;
    border-bottom: 0.5px solid rgba(60, 60, 67, 0.20);
    min-height: 73px;
    max-height: 73px;
    justify-content: 'center';
}

.dashbordLinks {
    display: flex;
    align-items: center;
    transition: 0.5s fade ease-in-out;
    animation: 0.5s faded ease-in-out;
    width: 100%;
    padding: 13px 0px 13px 16px;
}

.dashbordList {
    padding: 0;
    transition: 0.3s;
    width: 100%;
}

.dashbordList:hover,
.DashbordList.active {
    border-radius: 0px 25px 25px 0px;
    background: #F5F5F7;
}

.dashbordUnoderList {
    padding: 15px 20px 15px 0px;
}

.topContentBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
}

.topContentBoxactive {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.topContentBoxactive  button{
    margin-left: -9px !important;
}

.dashbordDropDown {
    padding: 0px !important;
}

.p0{
    padding: 0px !important;
}

.accordiunContent{
    width: 100%  !important;
    display: block;
}

.siderbarAccordiun {
    padding: 0px !important;
    margin: 0px !important;
    max-width: 300px;
    width: 100%
}

.accordiunInnerLink {
    position: relative;
    padding-left: 20px !important;
}

.accordiunInnerLink{
    color: red ;
}

.accordiunInnerLink::before{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(26 209 164);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}


.dashbordDropDown {
    padding: 0px !important;
}

.p0{
    padding: 0px !important;
}

@keyframes faded {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}