.overallBox {
    max-width: 750px;
    display: block;
    margin: auto;
}

.staticTitle {
    color: #151515;
    font-family: inherit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.staticSubTitle {
    color: #151515;
    font-family: inherit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.staticDiscp {
    color: rgba(32, 33, 36, 0.70);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.borderLine {
    background: #E0E0E0;
    margin: 30px 0;
}

.websiteUrl {
    color: #1A73E8;
}

.websiteUrl:hover {
    color: #4f97f5;
}

.staticManyDiscp {
    margin-bottom: 12px;
}

.singleDiscp {
    margin-bottom: 60px;
}

.subBox {
    margin-bottom: 50px;
}

.staticCard {
    margin-bottom: 90px;
}

.titleHead {
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .staticTitle {
        font-size: 30px;
    }

    .staticSubTitle {
        font-size: 26px;
    }

    .staticManyDiscp {
        margin-bottom: 10px;
    }

    .singleDiscp {
        margin-bottom: 40px;
    }

    .subBox {
        margin-bottom: 40px;
    }

    .staticCard {
        margin-bottom: 50px;
    }

    .titleHead {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}