/* Desktop Style */

.heading {
  color: #202124;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tableWrapper {
  background: rgba(223, 225, 230, 0.2);
}

.resultCell {
  color: #202124 !important;
  font-family: inherit;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.closingRankItem {
  display: flex;
  justify-content: space-between;
}

.closingRankResult {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Mobile Style */

.resultWraper {
  padding: 11px 22px;
  border-radius: 8px;
  border: 1px solid #dfe1e6;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.resultKey {
  color: #1452A4;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.resultValue {
  color: rgba(32, 33, 36, 0.7);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mobileTitle {
  font-size: 16px !important;
}

.roundValue {
  padding: 0px 18px 0px 13px;
  border-radius: 0px 4px 4px 0px;
  background: #1452A4;
  color: #fff;
  width: 37px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -20px;
}

.mobileHeadingWraper {
  margin-top: 8px;
  margin-bottom: 14px;
}