.OverallBox {
  display: block;
  margin: auto;
  max-width: 400px;
  /* margin-bottom: 50px; */
  padding: 0px 6px;
  margin-top: 175px;
}

.csLogo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.otpHeader {
  color: #222831;
  font-family: inherit;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 26px;
}

.otpSubTitles {
  color: rgba(34, 40, 49, 0.7);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

.otpBox {
  display: block;
  margin-bottom: 40px;
}

.enterOtp {
  color: #222831;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.resend {
  margin-bottom: 40px;
  letter-spacing: 0.4px;
}

.customButton {
  color: rgba(34, 40, 49, 0.7);
  white-space: nowrap;
  display: flex;
  margin-left: auto;
}

.customButton .otpTimer {
  position: relative !important;
  display: block;
  white-space: nowrap;
  margin-left: 5px;
}

.customButton:hover,
.customButton:active {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}

.otpTimer {
  font-size: 16px;
  font-weight: 400;
  margin: auto 0;
}
.otpfield {
  margin-bottom: 14px;
}
.otpButton {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #222831;
  background: #222831;
  display: flex;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
}

.otpButton:hover {
  background: #2b333f;
}

.otpfield div {
  gap: 10px;
}

@media (max-width: 992px) {
  .OverallBox {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .csLogo {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .otpfield div {
    display: flex;
    justify-content: space-between !important;
  }
  .otpfield input {
    padding: 12px;
  }

  .otpHeader {
    margin-bottom: 20px;
  }
}
