.test {
  color: red;
}

.bannerBlock {
  display: block;
  width: 100%;
  padding: 40px 0px 0px;
  position: relative;
  margin-bottom: 40px;
}

.imgBlock {
  width: 100%;
  padding-top: 29%;
  display: block;
  position: relative;
  background-color: #0b6049;
  border-radius: 10px;
}

.imgBlock img {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  object-position: center !important;
  object-fit: cover !important;
}

.customSlickSlider {
  width: 100%;
}

/* styles.module.css */
.slick-slider.styles_customSlickSlider ul.slick-dots {
  bottom: -5px !important;
  width: 100% !important;
  text-align: center !important;
  display: none !important;
  background-color: red !important;
}

.customSlickSlider .slick-dots li {
  margin: 0 3px;
}

.customSlickSlider .slick-dots li button:before {
  color: rgba(255, 255, 255, 0.75);
}

.customSlickSlider .slick-dots li.slick-active button:before {
  color: #fff;
}

/* State-wise-card stles start here */

.StateCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 22px;
  position: relative;
}

.comingSoon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.titleTxt {
  font-family: inherit !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 29.04px !important;
  letter-spacing: 0.005em !important;
  text-align: left !important;
  margin-bottom: 24px !important;
}

.stateWiseBtn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 2px !important;
  width: 100%;
  margin-bottom: 25px;
}

.stateWiseBtn:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.stateWiseBtn:hover .stateWiseShortName,
.stateWiseBtn.active .stateWiseShortName {
  background-color: #0b6049 !important;
  color: #fff !important;
}

.stateWiseShortName {
    width: 56px;
    height: 56px;
    padding: 19px 18px 18px 17px;
    border-radius: 15px;
    background: #CBF7DA66;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #1B1B1B;
    text-align: center;
    margin: auto;
    margin-bottom: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stateWiseName {
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.36px !important;
  letter-spacing: 0.005em !important;
  text-align: left !important;
  color: #1b1b1b !important;
  text-align: center !important;
}

.seeAllBtn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.005em;
  text-align: left;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seeAllBtn button {
  margin-bottom: 20px !important;
  width: 56px;
  height: 56px;
  padding: 2px !important;
  border-radius: 15px;
  border: 0.7px solid #1b1b1b80 !important;
  color: #0b6049;
}

/* State-wise-card stles ensd here */

@media (max-width: 992px) {
  .stateWiseName {
    font-size: 14px !important;
  }

  .stateWiseBtn {
    margin-bottom: 12px !important;
  }
}
