
.formContainer {
  max-width: 400px;
  margin: 0 auto;
}

.inputFormControl {
  margin-bottom: 18px;
}

.cutoffButton {
  border-radius: 4px;
  background: #0B6049;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: 'normal';
  font-weight: 500;
  padding: 8px;
}

.cutoffButton:hover {
  background: #0B6049;
}

.formHelperText {
  font-size: 12px;
}
.menuData{
  white-space: pre-wrap !important;
  overflow: hidden !important;
  -o-text-overflow: ellipsis !important;
     text-overflow: ellipsis !important;
}